@import url(font-awesome.min.css);

/*
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/


/* Reset */

html,
body,
div,
span,
h1,
p,
a,
img,
ul,
li,
form,
label,
footer,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer {
  display: block;
  position: fixed;
  bottom: 0px;
}

nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}


/* Box Model */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Grid */


/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background-image: white;
}


/* Type */

body,
input,
select {
  color: rgba(255, 255, 255, 0.55);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: normal;
  line-height: 1.75;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  select {
    font-size: 11pt;
  }
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #ffffff;
}

p {
  margin: 0 0 2em 0;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 2.75em;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
  }
}


/* Button */

button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 3em;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:after,
.button:after {
  -moz-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.25);
  transform: scale(0.25);
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  background: #ffffff;
  border-radius: 3em;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

button:disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}

button:hover,
.button:hover {
  background-color: rgb(200, 111, 53) !important;
  border-color: rgba(200, 111, 53, 0.55) !important;
  color: #fff !important;
}

button:hover:after,
.button:hover:after {
  opacity: 0.05;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

button:hover:active,
.button:hover:active {
  border-color: #ffffff !important;
}

button:hover:active:after,
.button:hover:active:after {
  opacity: 0.1;
}


/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  display: block;
}

input[type="text"],
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  margin: 0 0 0.7em 0;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
select:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

input[type="text"],
select {
  height: 2.75em;
}

input[type="number"] {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.25em;
  margin: 0 0 0.7em 0;
  border: solid 1px rgba(0, 0, 0, 0.15);
  height: 2.75em;
  margin: 0 0 0.7em 0;
  color: #000;
  padding-left: 0.7em;
}


/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li>* {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li .button {
    padding: 0;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
}


/* Table */

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.05);
}

table td {
  text-align: center;
  color: #000;
  font-size: 0.75em;
  line-height: 1.75;
  padding: 0.5em;
}

table th {
  padding: 0;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1.75;
  text-transform: uppercase;
}

table thead {
  border-bottom: solid 2px rgba(0, 0, 0, 0.15);
}


/* Wrapper */

.wrapper {
  position: relative;
}

.wrapper>.inner {
  padding: 5em 5em 5em 5em;
  max-width: 100%;
  width: 75em;
}

@media screen and (max-width: 1680px) {
  .wrapper>.inner {
    padding: 5em 3em 5em 5em;
  }
}

@media screen and (max-width: 736px) {
  .wrapper>.inner {
    padding: 3em 2em 5em 5em;
  }
}

#wrapper .wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: calc(100vh - 55px);
  text-align: center;
  background: white;
  color: #000;
}

#wrapper .wrapper {
  display: none;
}

.wrapper.fullscreen {
  height: calc(100vh - 55px);
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 2em 0;
    min-height: 0;
  }
}


/* Footer */

#footer {
  width: 100%;
  text-align: center;
  height: 55px;
  line-height: 55px;
  background-color: #c86f35;
}

#footer>span {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


/* Sidebar */

#sidebar {
  background: #c86f35;
  cursor: default;
  left: 0;
  position: fixed;
  z-index: 10000;
  height: 3.5em;
  line-height: 3.5em;
  height: 3.5em;
  overflow: hidden;
  padding: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

#sidebar>.inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  min-height: 100%;
  opacity: 1;
  width: 100%;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

#sidebar nav>ul {
  list-style: none;
  padding: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: inherit;
  line-height: inherit;
  margin: 0;
}

#sidebar nav>ul>li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
  -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
  -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
  transition: opacity 0.15s ease, transform 0.75s ease;
  margin: 1.5em 0 0 0;
  opacity: 1;
  padding: 0;
  position: relative;
  display: block;
  height: inherit;
  line-height: inherit;
  margin: 0 0 0 0;
  padding: 0 16px;
}

#sidebar nav a {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  height: inherit;
  line-height: inherit;
  padding: 0;
}

#sidebar nav li:hover,
#sidebar nav li.active {
  background-color: #f09d62;
}

#sidebar nav li:hover a,
#sidebar nav li.active a {
  color: rgba(255, 255, 255, 0.85);
}

#welcomePage p {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  text-decoration: none;
  text-transform: uppercase;
}

#alertSpan {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.w3-margin-top-30 {
  margin-top: 30px;
}

#privateAmountField span,
#privateMemoField span {
  letter-spacing: 0;
  font-size: 90%;
  font-weight: normal;
  text-transform: capitalize;
}